html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiLinearProgress-root {
  height: 25px !important;
  width: 400px !important;
  margin-top: 1em !important;
  background-color: rgba(255, 200, 200, 0.5) !important;
}

.wallet-adapter-button {
  min-width: fit-content;
}
